

@font-face {
    font-family: "Overwatch-Italic";
    src: url("../fonts/bignoodletoo.woff") format('woff');
}

@font-face {
    font-family: "Overwatch-Regular";
    src: url("../fonts/koverwatch.ttf") format('truetype');
}

.chart {
    width: 100%;
    height: 290px;
    margin-bottom: 25px;
}

h1,h3,h6 {
    font-family: "Overwatch-Italic";
    color: #D8D9DA;
}
body h3,h4,h1 {
  margin-top: 0px;
  display: inline;
}
span.title {
  margin-top: 15px;
}
span {
  color: #444343;
  margin-bottom: 15px;
  display: block;
}
span span {
  display: inline;
  color: #646363;
}
span span:hover {
  color: #D8D9DA;
  cursor: pointer;
}
h4 {
  margin-left: 30px;
  font-family: "Overwatch-Regular";
}
h4 b {
  color: #E44C3C;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  display: none;
}
#top-graph path {
  stroke: #EBB925;
}
#bottom-graph path {
  stroke: #EF843C;
}
path {
  stroke: #EBB925;
  stroke-width: 1;
  fill: none;
}
.grid {
  stroke: white;
  stroke-width: 1px;
}
.grid line {
  stroke: #444343;
  shape-rendering: crispEdges;
}
.grid path {
  stroke: yellow;
  stroke-width: 0;
}
.area {
  stroke-width: 0;
}
#top-graph .area {
  fill: #886027;
}
#bottom-graph .area {
  fill: #5D3B26;
}

table,.chart {
    padding: 12px;
    /*box-shadow: 4px 4px 0px 0px rgba(0,0,0,0.7);*/
    border: solid 1px #292929;
    border-radius: 3px;
    background: #1F1D1D;
    font-family: "Overwatch-Regular";
    font-size: 24px;
    display: block;
}
table {
  height: 642px;
  overflow-y: scroll;
}
td {
  padding-right: 15px;
}
td:last-child {
  width: 100%;
}
tr:nth-child(even) {
  background-color: #292929;
  width: 100%
}
.red {
  color: #E44C3C;
}
body {
    margin: 0;
    padding: 0;
    /*background-image: linear-gradient(to left top, #96fbc4 0%, #f9f586 100%);*/
    background-color: #141414;
    color: #D8D9DA;
}
